/*=============================================================
fonts
=============================================================*/
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700|Source+Sans+Pro:300,400,600,700,900');


/*=============================================================
html and body
=============================================================*/
html {
    height: 100%;
    width: 100%;
    display: initial;
}

/*=========
    Preloader
    ==============*/

body {
  background: #fff;
  color: #454545;
  font-family: "Source Sans Pro",sans-serif;
  width: 100%;
}

h1 {
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

h2 {
    font-size: 34px;
    line-height: 38px;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

h3 {
    font-size: 23px;
    line-height: 33px;
    margin-bottom: 0px;
}

h4 {
    font-size: 18px;
    line-height: 16px;

}

h5 {
    font-size: 16px;
    line-height: 16px;
}

h6 {
    font-size: 14px;
    line-height: 04px;
    line-height: 15px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin: 0;
    color: #fff
}


input,
textarea {
    outline: none;
    resize: none;
    border-bottom: 1px solid #DDDDDD;
}

textarea {
    outline: none;
    resize: none;
    line-height: 12px;
}

a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: black;
    display: inline-block;
    text-transform: capitalize;
}

a:hover,
a:active {
    color: #fff;
    text-decoration: none;
    outline: 0;
}

a:focus {
    text-decoration: none;
    outline: 0;
}

.fas {
    color: #fff;
}

a.active {
    color: #fff !important;
}


img {
    max-width: 100%;
    height: auto;
    
}

button {}

ul,
ol {
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0;
}

ul {
    margin: 0;
    list-style-type: none;
}

ol {
    list-style: decimal;
}


.slide-tab .search::placeholder {
    color: #000;
     !important
}

.slide-tab .search:-ms-placeholder {
    color: #000;
     !important
}

.slide-tab .search::placeholder {
    color: #000;
     !important
}

::placeholder {
    color: #9e9e9e;

    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #9e9e9e;
}

::-webkit-input-placeholder {
    /* Microsoft Edge */
    color: #9e9e9e;
}

/*
textarea:-moz-placeholder{
    color: #fff !important;
}
textarea::-ms-input-placeholder{
    color: #fff !important;
}
*/

/*=============================================================
padding
=============================================================*/
.section-padding {
    padding: 50px 0;
}


/*=============================================================
styles
=============================================================*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}



/*=============================================================
preloader
=============================================================*/

#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: radial-gradient(#222, black);*/
    background: #1d1f21;
}

.loader{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.circle {
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  margin: 10px;
  width: 20px;
}
.item0{
  animation: 1s pulse0 infinite;

}
.item1{
  animation: 1s pulse1 infinite;

}
.item2{
  animation: 1s pulse2 infinite;
}
@keyframes pulse0{
  0%{
    transform:scale(1);
  }
  10%{
    transform:scale(2);
  }
  43.3%{
    transform:scale(1);
  }
  76.6%{
    transform:scale(1);
  }
  100%{
    transform:scale(1);
  }
}
@keyframes pulse1{
  0%{
    transform:scale(1);
  }
  10%{
    transform:scale(1);
  }
  43.3%{
    transform:scale(2);
  }
  76.6%{
    transform:scale(1);
  }
  100%{
    transform:scale(1);
  }
}
@keyframes pulse2{
  0%{
    transform:scale(1);
  }
  10%{
    transform:scale(1);
  }
  43.3%{
    transform:scale(1);
  }
  76.6%{
    transform:scale(2);
  }
  100%{
    transform:scale(1);
  }
}

